<div class="container">
  <h1>Главная</h1>
  <% @result.each do |details| %>

  <p>
    <hr/>
    <b><%= details.autor %></b>
    <br/>
    <%= details.recipe_name %>
    <br/>

    <img src="<%= details.path_to_image %>" class="img-thumbnail" style="width: 600px;" >
    <br/>
    <%= details.content %>
    <br/>

    Added at <%= details.created_at %>
    <hr/>
  </p>
  <% end %>
</div>
